<div class="nested-fields">
   <div class="row">
    
    <div class="col-lg-10 form-group">   
        <%= f.label :account_id,"Nome do Favorecido", :class => 'control-label' %>
        <%= f.collection_select :account_id, listaAccountLogin, :id, :nome, {:prompt => false}, :class => 'form-control ' %>
    </div>

    

</div>

</div>



