<nav class="navbar navbar-expand-lg navbar-light  nav_menu_principal" >
<a href="<%= menu_accounts_url %>" class="link">
  <div class="navbar-brand" ><strong><h1>Teste Nobe</h1></strong></div>
  </a>
  

  
</nav>